<launch>
    <arg name="robot_name" default="lwr"/>
    <arg name="base_frame"  default="link_0"/>
    <arg name="urdf_url"  default="$(find orca)/examples/lwr.urdf"/>
    <arg name="robot_compensates_gravity" default="true"/>

    <arg name="task_name"  default="CartTask_EE"/>

    <arg name="interactive_marker_frame_id"  default="link_0"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.32 0 0 0 1 link_7 my_super_tool" />

    <!-- Synchronise the gazebo clock with ROS clock -->
    <param name="/use_sim_time" value="true"/>

    <node name="gazebo" pkg="orca_ros" type="gazebo_node" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="urdf_url" value="$(arg urdf_url)"/>
        <param name="robot_compensates_gravity" value="$(arg robot_compensates_gravity)"/>
    </node>

    <node name="minimal_controller" pkg="orca_ros" type="minimal_controller" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="urdf_url" value="$(arg urdf_url)"/>
        <param name="controller_name" value="$(arg robot_name)_orca_controller"/>
        <param name="robot_compensates_gravity" value="$(arg robot_compensates_gravity)"/>
    </node>

    <node name="rviz_task_controller" pkg="orca_ros" type="rviz_task_controller" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="controller_name" value="$(arg robot_name)_orca_controller"/>
        <param name="task_name" value="$(arg task_name)"/>
        <param name="interactive_marker_frame_id" value="$(arg interactive_marker_frame_id)"/>
    </node>

    <group ns="/orca">
        <group ns="$(arg robot_name)">

            <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_url)' --inorder"/>
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
        </group>
    </group>
</launch>
